.optionBar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;

  padding-block: 4.44vw;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-inline: var(--container-padding);

  border-right: 1px solid #ddd;
  list-style: none;
}

.item {
  display: flex;
  gap: 1rem;
  align-items: center;

  width: max-content;
  padding-left: 8px;

  white-space: nowrap;
  font-weight: 500;

  cursor: pointer;

  list-style-type: none;
}

.item[data-item-active-status="normal"] {
  color: rgba(0, 0, 0, 0.5);
}

.item[data-item-active-status="active"] {
  color: #000;

  border-left: 3px solid #000;
}

.icon {
  display: block;
}

@media (width <= 480px) {
  .optionBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;

    border: 1px solid #000;
  }

  .item[data-item-active-status="active"] {
    margin-left: 4px;

    border-bottom: 1px solid #000;
    border-left: none;
  }

  .icon {
    display: none;
  }
}