.optionBar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;

  padding-block: 4.44vw;
   padding-left: 1rem;
   padding-right: 1rem; 
  padding-inline: var(--container-padding);

  border: 1px solid var(--color-black);

  list-style: none;
}

.item {
  width: max-content;

  white-space: nowrap;
  font-weight: 500;

  cursor: pointer;

  list-style-type: none;
}

.item[data-item-active-status="normal"] {
  color: rgba(0,0,0,0.5);
}

.item[data-item-active-status="active"] {

  color: var(--color-black);

  border-bottom: 1px solid var(--color-black);
}

@media (orientation: portrait) {
  .optionBar {
     gap: 1.5rem; 
  }
}
