.optionBar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;

  padding-block: 4.44vw;
<<<<<<< HEAD
  /* padding-left: 1rem; */
=======
   padding-left: 1rem;
   padding-right: 1rem; 
>>>>>>> original-main/profile
  padding-inline: var(--container-padding);

  border: 1px solid #000;

  list-style: none;
}

.item {
  width: max-content;

  white-space: nowrap;
  font-weight: 500;

  cursor: pointer;
}

.item[data-item-active-status="normal"] {
  color: rgba(0,0,0,0.5);
}


.item[data-item-active-status="active"] {

  color: #000;

  border-bottom: 1px solid #000;
}

@media (orientation: portrait) {
  .optionBar {
<<<<<<< HEAD
    /* display: non; */
  
=======
     gap: 1.5rem; 
  
  }
>>>>>>> original-main/profile
}