.profile {
  display: block;
}

.back {
  position: absolute;
  top: var(--section-padding);
  left: var(--container-padding);
  height: 24px;
}

.top {
  position: relative;  
}

.camera {
  position: absolute;
  right: 0;
  bottom: 0;
}

.image {
  display: block;
  margin-inline: auto;
}

.name {
  margin-bottom: 2rem;

  text-align: center;
  font-weight: 700;
}





