.fieldset {
    margin-inline: 35px;
}

.optionsList {
    display: flex;
    flex-direction: column;
    gap: 42px;

    padding-block: 2rem;
}

.genderOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 1rem;

    list-style: none;
}

.genderOption {
    display: flex;
    place-content: center;
    gap: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save {
    display: block;

    margin-inline: auto;
}