.editdata {
    max-height: calc();

    overflow: scroll;
}

.fieldset {
    margin-inline: 35px;
}

.optionsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 42px;

    padding-block: 2rem;
}

.title {
    margin-top: 4.44vw;
    margin-left: 35px;
    padding-bottom: 2rem;

    font-weight: 400;
    
    border-bottom: 1px solid #ddd;
}

.genderOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: var(--container-padding);

    list-style: none;
}

.genderOption {
    display: flex;
    place-content: center;
    gap: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save {
    display: block;

    margin-inline: auto;

    margin-bottom: 20px;
    padding: 10px;
}

@media (width <= 480px) {
    .title {
        display: none;
    }

    .optionsList {
        grid-template-columns: 1fr;
    }
}
