.suport {
  padding-top: 20vw;
  padding-inline: var(--container-padding);
}

.searchBar {
  margin-bottom: 72px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}

.container {
  height: 45vh;
  padding-block: 3rem;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 25px;
}

.text {
  text-align: center;
  color: #444;
}

.form {
  padding-block: 1rem;
}

.label {
  text-transform: uppercase;
  font-size: 11px;
}

.textarea {
  display: block;
  
  width: 100%;
  height: 35px;
  padding: 8px;

  font-family: Arial, Helvetica, sans-serif;

  border: 1px solid orange;

  resize: none;
}

.doubleHeight {
  height: 70px;
}

.send {
  display: block;

  margin-top: 4rem;
  margin-inline: auto;
  padding: 14px 10px;
}

@media (orientation: portrait) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .searchBar {
    margin-inline: 1rem;
  }

  .button:nth-child(3) {
    grid-column: 1/-1;
  }
}

@media (width <= 300px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
