.DivPaiSideBar{
    height: 100vh;
    /* width: 200px; */
    padding: 40px;
    background-color: white;
    flex-direction: column;

}

/* .ContainerSideBar{
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: right;
} */

.CorpoSideBar div{
    color: black;
}

.Perfil{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    flex-direction: row;
    gap: 10px;
}

.IconUser{
    margin-left: 15px;
}


.UserName{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.name{
    font-size: 10px;
    font-weight: 500;
}

.VerPerfil{
    color: black;
    font-size: 8px;
}

.CorpoSideBar div{
    height: 30px;
    margin: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 12px;
    gap: 15px;
    margin-right: 10px;
}

.CorpoSideBar{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}