@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(16px, 0.833vw, 1.5em);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(68, 68, 68, 0.65);
  border-radius: 99px;
  padding-right: 12px;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  --container-padding: max(11px, 1.3vw);
  --section-padding: max(1rem, 1.75vw);

  --color-orange: #FF6B00;
  --color-search: #F6EFEF;
  --color-status: #616161;
  --color-white: #FFFFFF;
  --color-black: #000000;
}

/* --------------------------------- MAIN & SECTION LAYOUT ---------------------------------------- */

section {
  position: relative;
  padding-inline: var(--container-padding);
}

/* --------------------------------- TYPOGRAPHY ---------------------------------------- */

h1 {
  font-size: 3.3125rem;
}

h2 {
  font-size: 2.760625rem;
}

h3 {
  font-size: 2.300625rem;
}

h4 {
  font-size: 1.916875rem;
}

h5 {
  font-size: 1.5975rem;
}

h6 {
  font-size: 1.33125rem;
}

p.big {
  font-size: 1.33125rem;
}

p {
  font-size: 1.078125rem;
}

p.small {
  font-size: 0.924375rem;
}

@media (width <= 480px) {
  h2 {
    font-size: 2rem;
  }
}
