.form {
    padding: 83px 64px;
    width: 100%;
}

.title {
    margin-left: 35px;
    padding-bottom: 2rem;
    margin-block: 4.44vw 2rem;

    font-weight: 400;

    border-bottom: 1px solid #ddd;
}

.fieldset {
    display: flex;
    justify-content: start;
    gap: 1rem;

    width: 100%;

    outline: 0;
    border: 0;
}

.fieldset + .fieldset {
    margin-top: 1.5rem;
}

.save {
    display: block;

    margin-inline: auto;
    padding: 14px 10px;
}
