.div_pai{
    /* border: red 1px solid; */
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.div_barra_principal{
    
    display: flex;
    flex-direction: row;
    height: 150px;
    
    
}

.logo{
    /* border: red 1px solid; */
    height: 100px;
    width: 100px;
    
    margin-top: 25px;
}
.imagem{
    height: 100px;
    width: 100px;
}

.nome_usuario{
    /* border: purple 1px solid; */
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    color:black;
   
}

.bora_semexer{
    font-size: 16px;
    font-weight: 500;
    color: #1A202C;
}

.botao_lateral{

    /* border: orange 1px solid; */
    height: 50px;
    width: 50px;
   
   
    margin-top: 50px;
    margin-left: 75px;
}

.tamanho_botao_lateral{
    height:50px;
    width: 50px;
}


.barra_pesquisa{
    
    /* width: 550px; */
    height: 50px;
    display: flex;
    padding: 10px;
    align-items: center;
    margin-top: 30px;
    border-radius: 30px;
    background-color: #e8e8ea;
    
} 

.input_pesquisa{
    
    background-color: #e8e8ea;
    border: #e8e8ea;

    padding: 10px;
    margin-left: 10px;
    width: 500px;
    
}
input:focus {
    outline: none;
}

.barra_icon{
    
    height: 25px;
    width: 30px;
}

.menu_esportes{
   
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    
}
.texto_esportes{
    
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.arrow{

    height: 50px;
    width: 50px;
    display: flex;
}

.esportes{
    
    height: 110px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem_esportes{
    width: 80px;
    height: 80px;
}

.opcoes_eventos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30px;
    margin-top: 10px;
}

.div_eventos{
    width: 130px;
    height: 30px;
   
    display: flex;
    color:rgb(72, 70, 70);
    justify-content: center;
}

.secao_cards{
    /* border: red 1px solid; */
    width: 560px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 50px;
    padding-top: 20px;
    
}

.secao_cards button{
    border: rgb(83, 82 , 82) 1px solid;
    /* width: 210px;
    height: 220px; */
    margin-left: 10px;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    
    
}


.cards{
    border: rgb(83, 82 , 82) 1px solid;
    /* width: 210px;
    height: 220px; */
    margin-left: 10px;
    border-radius: 15px;
    cursor: pointer;
    
}

.img_cards{
    width: 209px;
    
    height: 110px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.info_cards{
    border-bottom:rgb(83, 82 , 82) 1px solid;
    height: 55px;
}

.nome_esporte{
    display: flex;
    margin-left: 15px;
    font-size: 15px;
}

.sub_nome_esporte{
    display: flex;
    margin-left: 15px;
    font-size: 12px;
    color: rgb(83, 82 , 82);
    margin-top: 3px;
}

.data_esporte{
    /* border: red 1px solid; */
   
    width: 150px;
    font-size: 10px;
    margin-left: 10px;
    margin-top: 3px;
}

.data_hora{
    /* border: blue 1px solid; */
    width: 100px;
    display: flex;
    align-items: center;
    padding: 3px;
}

